<!-- Page Sample Section -->
<section id="page-sample">
	<div class="container content-section text-left">
		<div class="row">
			<h2 class="text-center">Anibal Borja</h2>
			<h5 class="text-center">Biografía</h5>
			<div class="col-lg-12 next-prev-pag">
				<a class="btn btn-prev disabled" href="/sobre-mi">< Anterior página</a>
				<a class="btn btn-next" href="/sobre-mi/exposiciones" title="Exposiciones">Siguiente página ></a>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<div id="circle-shape-example">
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve") %>
					<p>
						Soy un colombiano feliz que no doy reparo a mi identidad, soy de un país multirracial cuyas personas adornan y embellecen este jardín de naturaleza pura;  
						con enormes riquezas naturales donde todo se construye lentamente con sacrificios y siempre con la esperanza de que nuestras futuras generaciones serán mejores que nosotros.
					</p>
					<p>
						Mis ojos vieron la luz de este mudo una noche lluviosa del día 18 de abril de 1961 en Ibagué, departamento del Tolima, una ciudad pequeña de forma alargada por sus dos grandes
						montañas a lado y lado como indicándole el camino que uno debe seguir cuando busca sus ideales.
					</p>
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve1") %>
					<p>
						De mis once hermanos he sido el único que nació con las habilidades innatas para las artes y que fueron evidenciadas desde los ocho años cuando ilustraba, casi a la perfección, 
						láminas de animales o mapas para mis tareas y las de mis compañeros de clase. Desarrollé mi infancia y adolescencia en un ambiente familiar numeroso con los valores de la hermandad, 
						respeto, la visión de superación mediante el trabajo humilde y el amor ejemplar de mi madre que tuvo que ser papá al mismo tiempo ya que la figura paterna nunca la tuve. 
					</p>
					<p>
						Cursé mis estudios primarios en un orfanato y la secundaria la terminé en un colegio oficial de modalidad nocturna mientras rebuscaba el sustento para mí y el hogar y que, 
						entre otras cosas, consistía en colchonero, ayudante de construcción, mensajero, cartero, reciclador o cualquier actividad que fuera honrosa y remunerada.
					</p>
					<p>
						Siempre admiré y, en mis tiempos libres copiaba por mi cuenta, las ilustraciones de las cartillas escolares, los álbumes con láminas coleccionables, todas las revistas que 
						alquilaba de los personajes de Walt Disney y los súper héroes como Batman, Superman, Tarzán, Kalimán y todos los que estaban de moda en su momento ante la ausencia de la 
						televisión y demás entretenciones electrónicas. Más adelante y, de forma autodidacta y poco conocimientos técnicos, realizaba caricaturas, retratos e ilustraciones por encargo. 
						Fue entonces que surge la necesidad de buscar una formación académica y poner a prueba mi talento buscando lo que quería en un mundo ajeno, iluso y fuera de mi alcance.
					</p>
					<p>
						Al pasar frente a la Casa de la Cultura divisé un aviso que al leerlo rápidamente decía: “Concurso de Dibujo” al cual me inscribí inmediatamente sin solicitar más información. 
						Al acudir a la fecha señalada me llevé la sorpresa de que no era un concurso de dibujo sino un Curso de Dibujo.
					</p>
					<p>
						Ese error de lectura abrió las puertas de mi futuro, además que mi maestro, vio en mí un extraordinario dibujante, atreviéndose a decirme delante de los demás discípulos, cuando 
						contemplaba mis dibujos: “Esto es lo suyo”. Me presentó con mucho esmero y buenas recomendaciones ante un prestigioso político para que me ayuda con una beca para continuar con 
						mis estudios de Artes en la Universidad Nacional de Bogotá.
					</p>
					<p>
						La exigencia del examen de admisión para obtener un cupo en esta prestigiosa universidad pública y la expectativa por adquirir el conocimiento que yo buscaba, el destino puso a 
						prueba los momentos más difíciles de mi vida como fue la resistencia a todas las adversidades psicológicas, económicas, nutricionales y motivacionales que se me presentaron en el 
						transcurso de mi carrera ya que nunca se pudo hacer realidad la beca prometida y mis recursos monetarios dependían del trabajo de vendedor puerta a puerta, trabajo que realicé 
						como hasta noveno semestre. Por momentos sentía que iba en sentido contrario a todo, casi todos los que estaban a mi alrededor me chocaban y ponían en duda mis objetivos, me faltó 
						colaboración para soliviar las penurias de un esfuerzo que yo estaba seguro que valía la pena, el cual, se materializó cuando en 1992 la Universidad Nacional me otorgó el título 
						de Maestro en Artes Plásticas con énfasis en pintura.
					</p>
					<p>
						Mi poca habilidad para socializar con los mercaderes del arte, o para buscar un mecenazgo para mi producción artística o padrinos para manipularle a uno su trabajo y pintar lo que 
						ellos digan, además de la necesidad de cubrir gastos básicos por la llegada de mi primer hijo, conllevó a que buscara mi sustento dictando clases de artes en colegios privados: 
						trece años de una experiencia poco agradable. Luego, mediante concurso de méritos, ingresé a la educación pública donde los siguientes trece años que han transcurrido, hasta 
						cuando escribo esta autobiografía, han sido de gran felicidad y entrega total a la profesión de educar niños y niñas que en su mayoría sufren por la descomposición social y que 
						buscan a un maestro guía que les señale el camino de la superación, como una vez alguien lo hizo conmigo, y que los acompañe por recorrido incierto de un camino que yo recorrí. 
						Mantengo la ilusión de que mis facultades innatas no se esfumen y mis energías no se debiliten para seguir pintando hasta cuando la muerte me inmovilice mi cuerpo y mis manos 
						agarrotadas no suelten los pinceles y al, no podérmelos quitar, me tengan que enterrar con ellos. 
					</p>
					
				</div>
			</div>
			<div class="col-lg-12 next-prev-pag">
				<a class="btn btn-prev disabled" href="/sobre-mi">< Anterior página</a>
				<a class="btn btn-next" href="/sobre-mi/exposiciones" title="Exposiciones">Siguiente página ></a>
			</div>
		</div>
	</div>
</section>