<!-- Page Sample Section -->
<section id="page-sample">
	<div class="container content-section text-left">
		<div class="row">
			<h2 class="text-center">Anibal Borja</h2>
			<div class="col-lg-8 col-lg-offset-2">
				<div id="circle-shape-example">
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve") %>
					<p>
						This is kiwifruit: originally called “yang tao”, “melonette” or Chinese gooseberry. Cultivated in its fuzzy variety from Chinese imports, the fruit proved popular with 
						American military servicemen stationed in New Zealand during World War II, with commercial export to the United States starting after the end of the war. In California, 
						the fruit was rebranded as “kiwifruit” due to its resemblance to New Zealand’s national bird. However, it is not a “kiwi”, which is also the demonym for native New Zealanders. 
						Saying “I’m going to eat a kiwi” implies that you are either a cannibal or planning to dine on an endangered flightless bird.
					</p>
					<p>
						A group of girlfriends is on vacation when they see a 5-story hotel with a sign that reads: "For Women Only." Since they are without their boyfriends and husbands, 
						they decide to go in.
					</p>
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve1") %>
					<p>
						The bouncer, a very attractive guy, explains to them how it works. "We have 5 floors. Go up floor by floor, and once you find what you are looking for, you can stay there. 
						It's easy to decide since each floor has a sign telling you what's inside."
					</p>
					<p>
						So they start going up and on the first floor the sign reads: "All the men on this floor are short and plain." The friends laugh and without hesitation move on to the next floor.
					</p>
					<p>
						The sign on the second floor reads: "All the men here are short and handsome." Still, this isn't good enough, so the friends continue on up.
					</p>
					<p>
						They reach the third floor and the sign reads: "All the men here are tall and plain."
					</p>
					<p>
						They still want to do better, and so, knowing there are still two floors left, they continued on up.
					</p>
					<p>
						On the fourth floor, the sign is perfect: "All the men here are tall and handsome." The women get all excited and are going in when they realize that there is still one floor left. 
						Wondering what they are missing, they head on up to the fifth floor.
					</p>
					<p>
						There they find a sign that reads: "There are no men here. This floor was built only to prove that there is no way to please a woman."
					</p>
					
				</div>
			</div>
		</div>
	</div>
</section>