<!-- Page Sample Section -->
<section id="page-sample">
	<div class="container content-section text-left">
		<div class="row">
			<h2 class="text-center">Anibal Borja</h2>
			<h5 class="text-center">Exposiciones</h5>
			<div class="col-lg-12 next-prev-pag">
				<a class="btn btn-prev" href="/sobre-mi" title="Biografía">< Anterior página</a>
				<a class="btn btn-next disabled" href="/sobre-mi/exposiciones">Siguiente página ></a>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<div id="circle-shape-example">
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve") %>
					<p>
						Soy un colombiano feliz que no doy reparo a mi identidad, soy de un país multirracial cuyas personas adornan y embellecen este jardín de naturaleza pura;  
						con enormes riquezas naturales donde todo se construye lentamente con sacrificios y siempre con la esperanza de que nuestras futuras generaciones serán mejores que nosotros. 
					</p>
					<p>
						A group of girlfriends is on vacation when they see a 5-story hotel with a sign that reads: "For Women Only." Since they are without their boyfriends and husbands, 
						they decide to go in.
					</p>
					<%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "curve1") %>
					<p>
						The bouncer, a very attractive guy, explains to them how it works. "We have 5 floors. Go up floor by floor, and once you find what you are looking for, you can stay there. 
						It's easy to decide since each floor has a sign telling you what's inside."
					</p>
					<p>
						So they start going up and on the first floor the sign reads: "All the men on this floor are short and plain." The friends laugh and without hesitation move on to the next floor.
					</p>
					<p>
						The sign on the second floor reads: "All the men here are short and handsome." Still, this isn't good enough, so the friends continue on up.
					</p>
					<p>
						They reach the third floor and the sign reads: "All the men here are tall and plain."
					</p>
					<p>
						They still want to do better, and so, knowing there are still two floors left, they continued on up.
					</p>
					<p>
						On the fourth floor, the sign is perfect: "All the men here are tall and handsome." The women get all excited and are going in when they realize that there is still one floor left. 
						Wondering what they are missing, they head on up to the fifth floor.
					</p>
					<p>
						There they find a sign that reads: "There are no men here. This floor was built only to prove that there is no way to please a woman."
					</p>
					
				</div>
			</div>
			<div class="col-lg-12 next-prev-pag">
				<a class="btn btn-prev" href="/sobre-mi" title="Biografía">< Anterior página</a>
				<a class="btn btn-next disabled" href="/sobre-mi/exposiciones">Siguiente página ></a>
			</div>
		</div>
	</div>
</section>